@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}
:root {
  --blue: #176d98;
  --white: #fff;
  --dark: #1e1c2a;
}
body {
  color: var(--dark);
  background-color: var(--white);
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 40px;
  box-shadow: 0 0.1rem 0.5rem #ccc;
  width: 100%;
  background: var(--white);
  transition: all 0.5s;
  position: fixed;
}
.navigation .logo {
  color: var(--blue);
  font-size: 1.7rem;
  font-weight: 600;
  padding-left: 160px;
}
.navigation ul {
  display: flex;
  align-items: center;
  gap: 5rem;
}
.navigation ul li a {
  color: var(--dark);
  font-size: 17 px;
  font-weight: 500;
  transition: all 0.5s;
}
.navigation ul li a:hover {
  color: var(--blue);
}
.navigation i {
  cursor: pointer;
  font-size: 1.5rem;
}
.nav-menu {
  padding-right: 200px;
}
.menu {
  cursor: pointer;
  display: none;
}
.menu .bar {
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 3px;
  background: var(--dark);
  margin: 5px auto;
  transition: all 0.3s;
}
.menu .bar:nth-child(1),
.menu .bar:nth-child(3) {
  background: var(--blue);
}
.home {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10%;
}

.home-text {
  max-width: 37 rem;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 1000px;
}

.home-text .text-h4 {
  font-size: 1.5rem;
  color: var(--blue);
  margin-bottom: 1rem;
}
.home-text .text-h2 {
  margin-bottom: 1rem;
  text-align: center;
}
.home-text .text-h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  margin-top: 1100px;
  line-height: 10rem;
  text-align: center;
}
.home-text p {
  margin-bottom: 4rem;
  text-align: justify;
  padding-left: 250px;
  padding-right: 250px;
}
.home-btn {
  padding: 15px 45px;
  background: var(--blue);
  color: var(--white);
  border-radius: 10px;
  font-weight: 700;
  transition: all 0.5s;
}
.home-btn:hover {
  background: blue;
}
.home-img img {
  width: 70%;
  margin: auto;
  text-align: center;
  padding-bottom: 50px;
  padding-left: 0px;
  display: flex;
}

.list {
  text-align: center;
  font-size: 25px;
}
.list a:hover {
  color: rgb(249, 249, 249);
  background-color: rgb(5, 126, 126);
}

@media screen and (max-width: 1000px) {
  .navigation {
    padding: 18px 20px;
  }
  .menu {
    display: block;
  }
  .menu.ativo .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .menu.ativo .bar:nth-child(2) {
    opacity: 0;
  }
  .menu.ativo .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    right: -100%;
    top: 70px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background: var(--white);
    gap: -10px;
    transition: 0.3s;
  }
  .nav-menu.ativo {
    right: 0;
  }
  .nav-item {
    margin: 16px 0;
  }
  /*main*/
  .home {
    padding: 100px 2%;
    padding-bottom: 100px;
    flex-direction: column;
    text-align: center;
    gap: 4rem;
  
   
  }
  .home-text{
    margin-top: 0px;
    padding-top: 0px;
  }
  .home .text-h1 {
    font-size: 4rem;
    padding-bottom: 50px;
    margin-top: 0px;
  }
  .home .text-h2 {

    padding-bottom: 50px;
    text-align: center;
  }
  .home .text-h3{
    margin-bottom: 50px;
  }

  .home .text-h4 {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .home p {
    font-size: 40px;
    line-height: 3rem;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
  }
  .home-btn {
    padding: 25px 55px;
    background: var(--blue);
    color: var(--white);
    border-radius: 10px;
    font-weight: 700;
    font-size: 25px;
    transition: all 0.5s;
  }

  .home-img {
    width: 100%;
    margin: 0 auto;
    padding:0px;
    display: flex;
  
  }
  .list {
    font-size: 40px;
  }
}
